@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: url(aprobar.jpg);
    color: white;
    line-height: 5;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Encabezado */
header {
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
}

/*Barra de navegacion*/
.navbar {
    background-color: black;
    height: 80px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    height: 100%;

}

.navbar a {
    color: antiquewhite;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}


.button {
    display: inline-block;
    padding: 5px  10px; 
    background-color: black;
    color: antiquewhite;
    border-radius: 12px; 
    font-size: 16px;
    cursor: pointer; 
    text-align: center; 
    white-space: nowrap; 
    transition: background-color 0.3s ease; 
  }
.button:hover {
    background-color: antiquewhite;
    border: none;
    border-radius: 12px;
    color: black;
    text-align: center;
    padding: 5px  10px;
}

.button button2 {
    display: inline-block;
    padding: 30px  30px; 
    background-color: #D6DC82;
    color: #D86072;
    border-radius: 12px; 
    font-size: 16px;
    cursor: pointer; 
    text-align: center; 
    white-space: nowrap; 
    transition: background-color 0.3s ease; 
  }
.button:hover button2 {
    background-color: #D86072;
    border: none;
    border-radius: 12px;
    color: #C6C2F2;
    text-align: center;
    padding: 0px  10px;
}
input {  
    background-color: antiquewhite;
    color: black;
    padding: 12px 100px;
    border: none;   
    border-radius: 12px;
    border-color: black;
    box-sizing: border-box;
    text-align: center;
}

input:focus {
    background-color: white;
    border: none;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    border: 1px solid white;
    padding: 8px;
}

.tabla th {
    background-color: black;
    text-align: left;
}

.boton {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.aprobar {
    background-color: #4CAF50;
    color: white;
}

.rechazar {
    background-color: #f44336;
    color: white;
}
